.img-thumbnail {
  width: 200px;
  height: 200px;
  margin-bottom: 10px;
  //border: none;
  object-fit: cover;
  object-position: top;
}
.custom-file {
  width: 80%;
  margin: auto;
  margin-bottom: 20px;
}
