.about {
  padding-top: 50px;
  max-width: 1169px;
  h1 {
    font-size: 26px;
    text-transform: capitalize;
    font-weight: 600;
  }
  p {
    line-height: 1.5;
    margin-top: 23px;
  }
  span {
    line-height: 1.5;
  }
}
