//colors

$background-color: #ffffff;

//font
$font-color: #383737;
$box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.08);
$section-border: #383737;
$image-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
$image-box-shadow-hover: 0 2px 12px 0px rgba(0, 0, 0, 0.28);
$header-bg: white;
$cart-button-color: rgb(205, 26, 44);
//sizes
$header-height: 72px;
